<mat-spinner *ngIf='loading'></mat-spinner>

<div *ngIf='!loading'>
  <mat-grid-list cols="1" rowHeight="900px">
    <mat-grid-tile>

      <mat-card>
        <mat-card-title>
          5 Days Weather Forecast &nbsp; {{this.city}}
        </mat-card-title>
        <mat-card-content>
          <mat-card *ngFor="let data of fiveDaysForecast">
            <mat-card-content>
              <strong>
                {{data?.dt}}
              </strong>
              <hr> Temperature:
              <span class="Temp">
                <strong>{{data?.temp}} </strong>&deg;C
              </span>
              &nbsp; &nbsp;
              <img src="http://openweathermap.org/img/w/{{data?.icon}}.png"> &nbsp; &nbsp;
              <strong> {{data?.des}}</strong> &nbsp; Wind:
              <strong>{{data?.wind_speed}} m/s </strong>&nbsp; &nbsp; Clouds:
              <strong>{{data?.clouds}}%</strong>&nbsp; &nbsp; Humidity:
              <strong>{{data?.humidity}}%</strong>&nbsp; &nbsp; Pressure:
              <strong>{{data?.pressure}} hPa</strong>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
