<mat-grid-list cols="1" rowHeight="1200px">
  <mat-grid-tile>

    <mat-card>
      <mat-card-title>
        Weather Forecast
      </mat-card-title>
      <mat-card-subtitle>
        <button mat-button (click)="showForecastService.showHourly('hourlyComponent')">
          <strong>Hourly Forecast</strong>
        </button>
        <button mat-button (click)="showForecastService.showFiveDay('forecastComponent')">
          <strong>5 days Forecast</strong>
        </button>
      </mat-card-subtitle>
      <mat-card-content>
        <app-forecast *ngIf="showForecastService.showFiveDaysForecast">
        </app-forecast>
        <app-hourly *ngIf="showForecastService.showHourlyForecast">
        </app-hourly>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
